
    <form method="POST" action="/articles">
        <input type="text" name="articles_count" placeholder="Enter atricles count">
        <input type="submit">
    </form>
	<a style="font-size: 12px;" href="/logout">Выйти из аккаунта</a>