<div style="font-family: Arial, Helvetica, sans-serif; width: 500px;">
    <h1>Tasks:</h1>
	<form id="form">
		<fieldset>
			<legend>Add task</legend>
			<label for=""></label>
			<div>
				<div>task name</div> 
				<input type="text" name="title" id="title">
			</div>
			<div>
				<input type="checkbox" name="isFinished" id="checkbox">
				is task finished
			</div>
			<button type="submit">submit</button>
		</fieldset>
	</form>

      {{#if tasks}}
        <ul>
        {{#each tasks}}
        <li id="task">
			{{#if isFinished}}
				<input onclick="onCheckboxClick(this)" type="checkbox" checked>
			{{else}}
				<input onclick="onCheckboxClick(this)" type="checkbox" >
			{{/if}}
			<span id="title">{{title}}</span>
			<button onclick="onRemoveClick(this)">remove</button>
        </li>
        {{/each}}
    </ul>
     {{/if}}
</div>

<script src="/static/scripts/script.js"></script>