<h1>Форма регистрации</h1>
<form action="/registration" method="POST">
	<p>
		<input type="text" name="email" placeholder="E-mail">
	</p>
	<p>
		<input type="text" name="fullName" placeholder="fullName">
	</p>
	<p>
		<input type="password" name="password" placeholder="Введите пароль">
	</p>
	<p>
		<input type="password" name="repassword" placeholder="Введите пароль повторно">
	</p>
	<p>
		<input type="submit" value="Регистрация">
	</p>
</form>